<% @condos.each do |condo| %>
<h2 class="unit_number">Unit <%= condo.unit %></h2>
<p class="no_of_bedrooms">No. of bedrooms <%= condo.number_of_rooms %></p>
<p class="condo_price">$<%= condo.price %> CAD</p>
<p class="condo_description"><%= condo.description %></p>
  <% if condo.den == true %>
      <p class="yes_den">Includes Den</p>
    <% else %>
      <p class="no_den">No Den</p>
    <% end %>
    <%= link_to condo_path(condo) %>
<% end %>
