<% @condos.each do |condo| %>
<h2>Unit <%= condo.unit %></h2>
<p>No. of bedrooms <%= condo.number_of_rooms %></p>
<p>$<%= condo.price %> CAD</p>
<p><%= condo.description %></p>
<p>Does it come with a den? <%= condo.den %></p>
<% end %>
