<h3>Unit <%= @condo.unit %></h3>
  <p>No. of bedrooms <%= @condo.number_of_rooms %></p>
  <p>$<%= @condo.price %> CAD</p>
  <% if @condo.den == true %>
      <p class="yes_den">Includes Den</p>
    <% else %>
      <p class="no_den">No Den</p>
    <% end %>

<% if current_user %>

  <% if @favourite.heart == 1 %>
      <p class="yes_fav">Watching This Item</p>
    <% else %>
      <p class="not_fav">Not Watching This Item</p>
    <% end %>

<% end %>

<% if current_user %>

  <%= form_for([@condo, @favourite]) do |f| %>
    <% if @favourite.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@favourite.errors.count, "error") %> prohibited this favourite from being saved:</h2>

        <ul>
        <% @favourite.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label "Watch this site?"%>
      <%= f.check_box :heart %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
    <% end %>

<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to add a favourite.</p>

<% end %>
